<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="js/vue.min.js"></script>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>ShopVue Tailwind</title>
</head>
<body>
<div id="app">
  <header class="bg-gray-300	py-6 mb-8">
    <div class="container mx-auto">
        <div class="content-header grid grid-cols-2 gap-3">
  <div class="logo"><h2 class="text-3xl">Shop Estudo Vue</h2></div>
  <div class="carrinho flex justify-end">cart: {{carrinhoTotal | numeroPreco}} QTD: {{carrinho.length}}</div>
  <ul>
    <li v-for="(item, index) in carrinho">
      <p>{{item.nome}}</p>
      <button @click="removerItem(index)">X</button>
    </li>
  </ul>
        </div>
    </div>
  </header>
  <div v-if="produto" class="modal">
    <div class="container-modal">
    <div class="close" @click="produto = false">x</div>
    <div class="nomeproduto text-2xl">{{produto.nome}}</div>
    <div class="precoProduto">{{produto.preco |numeroPreco}}</div>
    <div class="descricao base">{{produto.descricao}}</div>
      <small>Estoque:{{produto.estoque}}</small>
    <div>
      <button v-if="produto.estoque > 0" @click="adicionarItem" class="bg-blue-500 mt-3 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Add ao carrinho
    </button>
      <button v-else disabled class="bg-gray-500 mt-3 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Produto esgotado</button>

    </div>
<div class="avaliacoes">
  <h2>Avaliações</h2>
      <ul>
        <li v-for="avaliacao in produto.reviews">
          <p>{{avaliacao.descricao}}</p>
          <small>{{avaliacao.nome}} | {{avaliacao.estrelas}}</small>
        </li>
      </ul>
    </div>
</div>
</div>


  <div class="container mx-auto px-3">
  <div class="listprodutos grid grid-cols-3 gap-4">
    <div v-for="produto in produtos"  :key="produto.id" class="produto mb-6">
      <img :src="produto.img" :alt="produto.nome"@click="detalheProduto(produto.id)">
      <div><span class="preco">{{produto.preco | numeroPreco}}</span></div>
      <h3 class="text-2xl">{{produto.nome}}</h3>
      <button class="bg-blue-300 mt-4 hover:bg-blue-700 text-white px-4" >add carrinho</button>
    </div>
  </div>
  </div>
</div>


  <script src="./app.js"></script>
</body>
</html>
